@import '~antd/dist/antd.css';

@font-face { 
  font-family: 'sofia-pro';
  src: url('./fonts/sofia-pro.woff2') format('woff2');
}

body {
  background-color: #0D202B !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "sofia-pro",sans-serif;
}

img {

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.text-center {
  z-index: 2;
  position: relative;
}

.orange {
  color: #d47559 !important;
}

.grey {
  color: #88a0a7 !important;
  font-size: 16px !important;
  color: #88a0a7;
  line-height: 2em;
}

.background-header {
  background-image: url("https://cdn.gametv.vn/news_media/image/TFT-Set-8_0x0_1678155246.png");
  background-size: cover;
  height: 450px !important;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  filter: brightness(0.40);
  background-attachment: fixed;
}

.text-header {
  top: 25%;
  left: 0;
  right: 0;
  position: absolute;
  display: block;
  text-align: center;
  overflow: hidden !important;
}

#root-layout {
  background-color: #0D202B;
}

.app-image {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.home-app {
  margin: 100px auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.home-app .app-info h2 {
  font-family: "sofia-pro",sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0 0 20px;
}

.home-app .app-info p {
  color: #88a0a7;
  line-height: 1.8em;
}

.image-full, .image-crop {
  filter: contrast(1.04);
}

.home-app .app-image.right .image-full {
  -webkit-transform: scale(1.05) perspective(2910px) rotateY(-12deg) rotateX(-3deg) rotate(2deg);
  transform: scale(1.05) perspective(2910px) rotateY(-12deg) rotateX(-3deg) rotate(2deg);
  box-shadow: 20px 20px 60px #0a1a23;
}

.home-app .app-image .image-crop, .app-image .image-full {
  box-shadow: 0 13px 27px -5px #102531, 0 8px 16px -8px #102531, 0 -6px 16px -6px #102531;
  border: 1px solid #17313a;
  border-radius: 3px;
}
.home-app .app-image.right .image-crop {
  left: 0;
  -webkit-transform: translateY(-50%) scale(1.05) perspective(2910px) rotateY(-12deg) rotateX(-3deg) rotate(2deg);
  transform: translateY(-50%) scale(1.05) perspective(2910px) rotateY(-12deg) rotateX(-3deg) rotate(2deg);
  box-shadow: 10px 10px 30px #0a1a23;
}

.home-app .app-image .image-crop {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-app .app-image .image-crop, .app-image .image-full {
  box-shadow: 0 13px 27px -5px #102531, 0 8px 16px -8px #102531, 0 -6px 16px -6px #102531;
  border: 1px solid #17313a;
  border-radius: 3px;
}

.home-app .app-image.left .image-full {
  -webkit-transform: scale(1.05) perspective(2910px) rotateY(12deg) rotateX(3deg) rotate(-2deg);
  transform: scale(1.05) perspective(2910px) rotateY(12deg) rotateX(3deg) rotate(-2deg);
  box-shadow: -20px 20px 60px #0a1a23;
}

.home-app .app-image .image-crop, .home-app .app-image .image-full {
  box-shadow: 0 13px 27px -5px #102531, 0 8px 16px -8px #102531, 0 -6px 16px -6px #102531;
  border: 1px solid #17313a;
  border-radius: 3px;
}

.home-app .app-image.left .image-crop {
  right: 0;
  -webkit-transform: translateY(-50%) scale(1.05) perspective(2910px) rotateY(12deg) rotateX(3deg) rotate(-2deg);
  transform: translateY(-50%) scale(1.05) perspective(2910px) rotateY(12deg) rotateX(3deg) rotate(-2deg);
  box-shadow: -10px 10px 30px #0a1a23;
}

.home-app .app-image .image-crop {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-app .app-image .image-crop, .home-app .app-image .image-full {
  box-shadow: 0 13px 27px -5px #102531, 0 8px 16px -8px #102531, 0 -6px 16px -6px #102531;
  border: 1px solid #17313a;
  border-radius: 3px;
}

.social-btn{
  height: 50px;
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
  font-size: 15px;
  align-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  position: absolute;
}

.social-icons{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 350px;
}

.btn-github, .btn-fb, .btn-ig, .btn-yt {
  color: #fff !important;
  background-color: #123040 !important;
  padding: 6px 12px !important;
  border: none !important;
  margin: 0 5px;
}

.btn-github:hover, .btn-fb:hover, .btn-ig:hover, .btn-yt:hover {
  color: #123040 !important;
  background-color: #f0f0f0 !important;
}

.col-12.home-app.features .row {
  max-width: 1200px !important;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}

.row.dark {
  background: #102531;
}

.home .home-app.features {
  padding: 80px 0;
}

.home .home-app .features-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-12 {
  flex: 0 0 100%;
}

.home-app .features-title h2 {
  font-family: "sofia-pro",sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0 0 10px;
}

.home-app .app-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #123040;
  margin: 30px 10px 0;
  padding: 0;
  border-radius: 3px;
}

.home-app .app-features h4 {
  font-family: "sofia-pro",sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0;
  padding: 20px;
  width: 100%;
  border-bottom: #102531 solid 1px;
  display: flex;
  align-items:center;
  text-align: center;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h4 img {
  height: 24px;
  align-self: center;
  vertical-align: middle;
  text-align: center;
  line-height: 1.3em;
  margin-right: 5px;
}

.home-app .app-features .divider {
  background: #102531;
}

.divider {
  margin: 0;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: #17313a;
  margin-top: 20px;
}

.divider.footer {
  margin: 20px 0;
}

.home-app .app-features p {
  line-height: 1.8em;
  margin: 0;
  padding: 20px 20px 40px;
}

ol, p, ul {
  font-family: "sofia-pro",sans-serif;
  font-size: 16px;
  font-weight: 400;
}
p {
  color: #88a0a7;
  line-height: 2em;
  margin: 0 0 20px;
  max-width: 700px;
}

.home-app .app-info a {
  display: flex;
  align-items: center;
  color: #4080b0;
  font-weight: 600;
  margin: 2.5px 0;
  text-decoration: none !important;
  width: fit-content;
}

.home-app .app-info a:hover {
  color: #97bdd9;
}

.home-app .app-info a img {
  width: 10px;
  margin-top: 2px;
  margin-left: 8px;
}

.home-app .app-image .ezreal {
  width: 400px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.col-12 h2, .col-12.col-lg-6.app-image .grey {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container .footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.container .footer-links a, .language-btn {
  text-align: center;
  color: #88a0a7;
  margin: 0 30px;
  transition: all .3s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container .footer-links a:hover {
  color: #fff;
}

.container .footer-links .language-btn {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container .footer-links .language-btn .version {
  margin-left: 10px;
}

.container .footer-about {
  color: hsla(0,0%,100%,.9);
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
  max-width: none;
}

.container .footer-copyright {
  color: #88a0a7;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  max-width: none;
}

.version .value span {
  font-size: 14px;
  font-weight: 400;
}